{% extends 'base.html.twig' %}

{% block title %}Annulation - {{ parent() }}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
    {{form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}
{% endblock %}